# Node.js & Geddy
log/
node_modules/
_datastore.json
_session_store.json
npm-debug.log
config/secrets.json
public/js/core/models.js
public/js/core/helpers.js

# Build files (TypeScript etc.)
.sass-cache/
_build/
public/css/style.css

# Eclipse config files
.settings/
.project
