.settings
.jshintrc
.project
*.swp
*.swo
_datastore.json
_session_store.json
dist
node_modules
*.DS_Store
_build/
log/
npm-debug.log
config/secrets.json
public/js/core/models.js
public/js/core/helpers.js
