@import "bootstrap/_variables.scss";

@import "bootstrap.scss";
@import "auth-buttons.scss";

body {
	background: url('../img/whitey.png');
}

.episode {
	background-color: #FFFFFF;
}

code {
	white-space: pre;
}
