{
	"passport": {
		"successRedirect": "/",
		"failureRedirect": "/login",
		"twitter": {
			"consumerKey": "",
			"consumerSecret": ""
		},
		"facebook": {
			"clientID": "",
			"clientSecret": ""
		}
	},
	"secret": ""
}